<form class="w-full max-w-2xl" [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="flex gap-4">
    <div class="w-1/2" formGroupName="artist">
      <label
        class="mb-2 block text-xs font-bold uppercase tracking-wide text-gray-700"
        for="name"
      >
        Artist *
      </label>
      <input
        class="mb-3 block w-full appearance-none rounded border border-gray-200 bg-gray-200 py-3 px-4 leading-tight text-gray-700 focus:border-gray-500 focus:bg-white focus:outline-none"
        id="name"
        type="text"
        formControlName="name"
        required
      />
    </div>

    <div class="w-1/2">
      <label
        class="mb-2 block text-xs font-bold uppercase tracking-wide text-gray-700"
        for="title"
        >Title *</label
      >
      <input
        class="mb-3 block w-full appearance-none rounded border border-gray-200 bg-gray-200 py-3 px-4 leading-tight text-gray-700 focus:border-gray-500 focus:bg-white focus:outline-none"
        id="title"
        type="text"
        formControlName="title"
        required
      />
    </div>
  </div>
  <div class="flex gap-4">
    <div class="w-1/2" formGroupName="label">
      <label
        class="mb-2 block text-xs font-bold uppercase tracking-wide text-gray-700"
      >
        Record Label *
      </label>
      <div class="relative">
        <select
          class="block w-full appearance-none rounded border border-gray-200 bg-gray-200 py-3 px-4 pr-8 leading-tight text-gray-700 focus:border-gray-500 focus:bg-white focus:outline-none"
          id="name"
          formControlName="name"
          required
        >
          <option [ngValue]="null" disabled>Select Label</option>
          <option *ngFor="let label of labels$ | async" [ngValue]="label?.name">
            {{ label.name }}
          </option>
        </select>
        <div
          class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700"
        >
          <svg
            class="h-4 w-4 fill-current"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 20 20"
          >
            <path
              d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"
            />
          </svg>
        </div>
      </div>
    </div>
    <div class="w-1/2">
      <label
        class="mb-2 block text-xs font-bold uppercase tracking-wide text-gray-700"
        for="catalogueNumber"
      >
        Catalogue Number *
      </label>
      <input
        class="mb-3 block w-full appearance-none rounded border border-gray-200 bg-gray-200 py-3 px-4 leading-tight text-gray-700 focus:border-gray-500 focus:bg-white focus:outline-none"
        id="catalogueNumber"
        type="text"
        formControlName="catalogueNumber"
        placeholder="4001"
      />
    </div>
  </div>
  <div class="flex gap-4">
    <div class="w-1/2">
      <label
        class="mb-2 block text-xs font-bold uppercase tracking-wide text-gray-700"
        for="released"
        >Released
      </label>
      <input
        class="mb-3 block w-full appearance-none rounded border border-gray-200 bg-gray-200 py-3 px-4 leading-tight text-gray-700 focus:border-gray-500 focus:bg-white focus:outline-none"
        id="released"
        type="text"
        formControlName="released"
        placeholder="YYYY"
      />
    </div>
    <div class="w-1/2" formGroupName="producer">
      <label
        class="mb-2 block text-xs font-bold uppercase tracking-wide text-gray-700"
        for="name"
      >
        Producer
      </label>
      <input
        class="mb-3 block w-full appearance-none rounded border border-gray-200 bg-gray-200 py-3 px-4 leading-tight text-gray-700 focus:border-gray-500 focus:bg-white focus:outline-none"
        id="name"
        type="text"
        formControlName="name"
      />
    </div>
  </div>
  <div class="flex gap-4">
    <div class="w-1/2" formGroupName="designer">
      <label
        class="mb-2 block text-xs font-bold uppercase tracking-wide text-gray-700"
        for="name"
      >
        Designer
      </label>
      <input
        class="mb-3 block w-full appearance-none rounded border border-gray-200 bg-gray-200 py-3 px-4 leading-tight text-gray-700 focus:border-gray-500 focus:bg-white focus:outline-none"
        id="name"
        type="text"
        formControlName="name"
      />
    </div>
    <div class="w-1/2" formGroupName="photographer">
      <label
        class="mb-2 block text-xs font-bold uppercase tracking-wide text-gray-700"
        for="name"
      >
        Photographer
      </label>
      <input
        class="mb-3 block w-full appearance-none rounded border border-gray-200 bg-gray-200 py-3 px-4 leading-tight text-gray-700 focus:border-gray-500 focus:bg-white focus:outline-none"
        id="name"
        type="text"
        formControlName="name"
      />
    </div>
  </div>
  <div class="flex gap-4">
    <div class="w-full">
      <label
        class="mb-2 block text-xs font-bold uppercase tracking-wide text-gray-700"
        for="imageUrl"
        >Image URL
      </label>
      <input
        class="mb-3 block w-full appearance-none rounded border border-gray-200 bg-gray-200 py-3 px-4 leading-tight text-gray-700 focus:border-gray-500 focus:bg-white focus:outline-none"
        id="imageUrl"
        type="text"
        formControlName="imageUrl"
      />
    </div>
  </div>
  <div class="mb-12 flex gap-4">
    <div>
      <img *ngIf="imagePreview" [src]="imagePreview" alt="" />
    </div>
  </div>

  <div
    formArrayName="sessions"
    class="group rounded-md p-3 bg-white ring-1 ring-slate-200 shadow-sm py-6 px-6"
  >
    <h2 class="my-4 text-2xl font-bold">Sessions</h2>
    <div
      class="mb-8 border-b-2 border-slate-100"
      *ngFor="let session of sessions.controls; index as sessionIndex"
    >
      <div [formGroupName]="sessionIndex">
        <details [open]="sessionIndex === openSession">
          <summary class="flex items-center font-semibold">
            <h3 class="my-4 text-lg text-slate-500 text-right">
              Session {{ sessionIndex + 1 }}
            </h3>
            <button class="ml-auto">
              <svg
                class="fill-current opacity-75 w-4 h-4 -mr-1"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
              >
                <path
                  d="M12.95 10.707l.707-.707L8 4.343 6.586 5.757 10.828 10l-4.242 4.243L8 15.657l4.95-4.95z"
                />
              </svg>
            </button>
          </summary>

          <div class="flex gap-4">
            <div class="w-1/2">
              <label
                class="mb-2 block text-xs font-bold uppercase tracking-wide text-gray-700"
                for="date"
                >date
              </label>
              <input
                #sessionDate
                class="mb-3 block w-full appearance-none rounded border border-gray-200 bg-gray-200 py-3 px-4 leading-tight text-gray-700 focus:border-gray-500 focus:bg-white focus:outline-none"
                formControlName="date"
              />
            </div>
            <div class="w-1/2" formGroupName="engineer">
              <label
                class="mb-2 block text-xs font-bold uppercase tracking-wide text-gray-700"
                for="name"
                >Engineer
              </label>
              <input
                #engineer
                class="mb-3 block w-full appearance-none rounded border border-gray-200 bg-gray-200 py-3 px-4 leading-tight text-gray-700 focus:border-gray-500 focus:bg-white focus:outline-none"
                formControlName="name"
              />
            </div>
          </div>
          <div class="flex gap-4" formGroupName="studio">
            <div class="w-1/2">
              <label
                class="mb-2 block text-xs font-bold uppercase tracking-wide text-gray-700"
                for="name"
                >Studio
              </label>
              <input
                #studio
                class="mb-3 block w-full appearance-none rounded border border-gray-200 bg-gray-200 py-3 px-4 leading-tight text-gray-700 focus:border-gray-500 focus:bg-white focus:outline-none"
                formControlName="name"
              />
            </div>
            <div class="w-1/2">
              <label
                class="mb-2 block text-xs font-bold uppercase tracking-wide text-gray-700"
                for="location"
                >Location
              </label>
              <input
                #studio
                class="mb-3 block w-full appearance-none rounded border border-gray-200 bg-gray-200 py-3 px-4 leading-tight text-gray-700 focus:border-gray-500 focus:bg-white focus:outline-none"
                formControlName="location"
              />
            </div>
          </div>
          <div formArrayName="personnel">
            <h2 class="my-4 text-xl font-bold">Personnel</h2>

            <div
              class="mb-4"
              *ngFor="
                let personnel of personnel(sessionIndex).controls;
                index as personnelIndex
              "
            >
              <div [formGroupName]="personnelIndex">
                <div class="flex gap-4">
                  <div class="w-1/2" formGroupName="artist">
                    <label
                      class="mb-2 block text-xs font-bold uppercase tracking-wide text-gray-700"
                      for="name"
                      >name
                    </label>
                    <div class="relative">
                      <input
                        #personnelName
                        class="mb-3 block w-full appearance-none rounded border border-gray-200 bg-gray-200 py-3 px-4 leading-tight text-gray-700 focus:border-gray-500 focus:bg-white focus:outline-none"
                        formControlName="name"
                        (focus)="
                          onPersonnelNameFocus(
                            $event,
                            sessionIndex,
                            personnelIndex
                          )
                        "
                        (blur)="onPersonnelNameBlur($event)"
                      />
                      <ul
                        *ngIf="
                          displayArtistOptions?.sessionIndex === sessionIndex &&
                          displayArtistOptions?.personnelIndex ===
                            personnelIndex
                        "
                        class="combobox absolute bg-white border border-gray-200 rounded w-full z-10 shadow-md overflow-hidden overflow-y-scroll max-h-64"
                        role="listbox"
                      >
                        <li
                          *ngFor="let artist of artists$ | async"
                          class="p-4 border-b-slate-100 hover:bg-slate-100 cursor-pointer"
                          (click)="
                            onPersonnelSelect(
                              $event,
                              artist.name,
                              sessionIndex,
                              personnelIndex
                            )
                          "
                        >
                          {{ artist.name }}
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="w-1/2">
                    <label
                      class="mb-2 block text-xs font-bold uppercase tracking-wide text-gray-700"
                      for="instruments"
                    >
                      instruments
                    </label>
                    <input
                      class="mb-3 block w-full appearance-none rounded border border-gray-200 bg-gray-200 py-3 px-4 leading-tight text-gray-700 focus:border-gray-500 focus:bg-white focus:outline-none"
                      formControlName="instruments"
                      placeholder="piano, trumpet"
                    />
                  </div>
                </div>
                <div class="flex gap-4">
                  <div class="w-1/2">
                    <label
                      class="mb-2 block text-xs font-bold uppercase tracking-wide text-gray-700"
                      for="appearsOn"
                    >
                      appears on
                    </label>
                    <input
                      class="mb-3 block w-full appearance-none rounded border border-gray-200 bg-gray-200 py-3 px-4 leading-tight text-gray-700 focus:border-gray-500 focus:bg-white focus:outline-none"
                      formControlName="appearsOn"
                      placeholder="A1, B3"
                    />
                  </div>
                  <div class="w-1/2 flex justify-between">
                    <div class="w-1/4">
                      <label
                        class="block text-xs font-bold uppercase tracking-wide text-gray-700"
                        for="leader"
                        >Leader?
                      </label>
                      <input
                        class="my-2 rounded"
                        formControlName="leader"
                        type="checkbox"
                      />
                    </div>
                    <div class="w-1/4 self-center">
                      <button
                        *ngIf="release"
                        type="button"
                        class="hover:bg-red-400 group flex items-center rounded-md bg-red-500 text-white text-sm font-medium p-2 shadow-sm"
                        (click)="deletePersonnel(sessionIndex, personnelIndex)"
                      >
                        Delete
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="my-2 flex flex-row-reverse">
              <button
                class="flex-shrink-0 rounded border-4 border-transparent py-1 px-2 text-lg text-blue-500 hover:text-blue-800"
                type="button"
                (click)="addPersonnel(sessionIndex)"
              >
                Add Personnel
              </button>
            </div>
          </div>
          <div formArrayName="tracks">
            <h2 class="my-4 text-xl font-bold">Tracks</h2>

            <div
              class="mb-4"
              *ngFor="
                let track of tracks(sessionIndex).controls;
                index as trackIndex
              "
            >
              <div [formGroupName]="trackIndex">
                <div class="flex gap-4">
                  <div class="w-1/2">
                    <label
                      class="mb-2 block text-xs font-bold uppercase tracking-wide text-gray-700"
                      for="title"
                      >title
                    </label>
                    <input
                      #trackTitle
                      class="mb-3 block w-full appearance-none rounded border border-gray-200 bg-gray-200 py-3 px-4 leading-tight text-gray-700 focus:border-gray-500 focus:bg-white focus:outline-none"
                      formControlName="title"
                    />
                  </div>
                  <div class="w-1/2">
                    <label
                      class="mb-2 block text-xs font-bold uppercase tracking-wide text-gray-700"
                      for="composedBy"
                    >
                      composers
                    </label>
                    <input
                      class="mb-3 block w-full appearance-none rounded border border-gray-200 bg-gray-200 py-3 px-4 leading-tight text-gray-700 focus:border-gray-500 focus:bg-white focus:outline-none"
                      formControlName="composedBy"
                      placeholder="Horace Silver, Sonny Rollins"
                    />
                  </div>
                </div>
                <div class="flex gap-4">
                  <div class="w-1/2">
                    <label
                      class="mb-2 block text-xs font-bold uppercase tracking-wide text-gray-700"
                      for="length"
                      >length
                    </label>
                    <input
                      class="mb-3 block w-full appearance-none rounded border border-gray-200 bg-gray-200 py-3 px-4 leading-tight text-gray-700 focus:border-gray-500 focus:bg-white focus:outline-none"
                      formControlName="length"
                      placeholder="4:45"
                    />
                  </div>
                  <div class="w-1/2">
                    <label
                      class="mb-2 block text-xs font-bold uppercase tracking-wide text-gray-700"
                      for="number"
                      >track number
                    </label>
                    <input
                      class="mb-3 block w-full appearance-none rounded border border-gray-200 bg-gray-200 py-3 px-4 leading-tight text-gray-700 focus:border-gray-500 focus:bg-white focus:outline-none"
                      formControlName="number"
                      placeholder="A1"
                    />
                  </div>
                </div>
                <div class="flex flex-row-reverse gap-4">
                  <button
                    *ngIf="release"
                    type="button"
                    class="hover:bg-red-400 group flex items-center rounded-md bg-red-500 text-white text-sm font-medium p-2 shadow-sm"
                    (click)="deleteTrack(sessionIndex, trackIndex)"
                  >
                    Delete
                  </button>
                </div>
              </div>
            </div>
            <div class="my-2 flex flex-row-reverse">
              <button
                class="flex-shrink-0 rounded border-4 border-transparent py-1 px-2 text-lg text-blue-500 hover:text-blue-800"
                type="button"
                (click)="addTrack(sessionIndex)"
              >
                Add Track
              </button>
            </div>
          </div>
        </details>
      </div>
    </div>
    <div class="my-2 flex flex-row-reverse">
      <button
        class="hover:bg-blue-400 group flex items-center rounded-md bg-blue-500 text-white text-sm font-medium pl-2 pr-3 py-2 shadow-sm"
        type="button"
        (click)="addSession()"
      >
        <svg
          width="20"
          height="20"
          fill="currentColor"
          class="mr-2"
          aria-hidden="true"
        >
          <path
            d="M10 5a1 1 0 0 1 1 1v3h3a1 1 0 1 1 0 2h-3v3a1 1 0 1 1-2 0v-3H6a1 1 0 1 1 0-2h3V6a1 1 0 0 1 1-1Z"
          />
        </svg>
        Add Session
      </button>
    </div>
  </div>

  <div class="flex flex-row-reverse my-6">
    <button
      class="hover:bg-blue-400 group flex items-center rounded-md bg-blue-500 text-white text-sm font-medium px-6 py-3 shadow-sm"
      type="submit"
    >
      Save Release
    </button>
  </div>
</form>
