<form class="w-full max-w-2xl" [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="flex gap-4">
    <div class="w-1/2" formGroupName="artist">
      <label
        class="mb-2 block text-xs font-bold uppercase tracking-wide text-gray-700"
        for="name"
      >
        Artist *
      </label>
      <input
        class="mb-3 block w-full appearance-none rounded border border-gray-200 bg-gray-200 py-3 px-4 leading-tight text-gray-700 focus:border-gray-500 focus:bg-white focus:outline-none"
        id="name"
        type="text"
        formControlName="name"
        required
      />
    </div>

    <div class="w-1/2">
      <label
        class="mb-2 block text-xs font-bold uppercase tracking-wide text-gray-700"
        for="title"
        >Title *</label
      >
      <input
        class="mb-3 block w-full appearance-none rounded border border-gray-200 bg-gray-200 py-3 px-4 leading-tight text-gray-700 focus:border-gray-500 focus:bg-white focus:outline-none"
        id="title"
        type="text"
        formControlName="title"
        required
      />
    </div>
  </div>
  <div class="flex gap-4">
    <div class="w-1/2" formGroupName="label">
      <label
        class="mb-2 block text-xs font-bold uppercase tracking-wide text-gray-700"
      >
        Record Label *
      </label>
      <div class="relative">
        <select
          class="block w-full appearance-none rounded border border-gray-200 bg-gray-200 py-3 px-4 pr-8 leading-tight text-gray-700 focus:border-gray-500 focus:bg-white focus:outline-none"
          id="name"
          formControlName="name"
          required
        >
          <option [ngValue]="null" disabled>Select Label</option>
          <option *ngFor="let label of labels" [ngValue]="label">
            {{ label }}
          </option>
        </select>
        <div
          class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700"
        >
          <svg
            class="h-4 w-4 fill-current"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 20 20"
          >
            <path
              d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"
            />
          </svg>
        </div>
      </div>
    </div>
    <div class="w-1/2">
      <label
        class="mb-2 block text-xs font-bold uppercase tracking-wide text-gray-700"
        for="catalogueNumber"
      >
        Catalogue Number *
      </label>
      <input
        class="mb-3 block w-full appearance-none rounded border border-gray-200 bg-gray-200 py-3 px-4 leading-tight text-gray-700 focus:border-gray-500 focus:bg-white focus:outline-none"
        id="catalogueNumber"
        type="text"
        formControlName="catalogueNumber"
        placeholder="4001"
      />
    </div>
  </div>
  <div class="flex gap-4">
    <div class="w-1/2">
      <label
        class="mb-2 block text-xs font-bold uppercase tracking-wide text-gray-700"
        for="recorded"
        >Recorded
      </label>
      <input
        class="mb-3 block w-full appearance-none rounded border border-gray-200 bg-gray-200 py-3 px-4 leading-tight text-gray-700 focus:border-gray-500 focus:bg-white focus:outline-none"
        id="recorded"
        type="text"
        formControlName="recorded"
        placeholder="YYYY"
      />
    </div>
    <div class="w-1/2">
      <label
        class="mb-2 block text-xs font-bold uppercase tracking-wide text-gray-700"
        for="released"
        >Released
      </label>
      <input
        class="mb-3 block w-full appearance-none rounded border border-gray-200 bg-gray-200 py-3 px-4 leading-tight text-gray-700 focus:border-gray-500 focus:bg-white focus:outline-none"
        id="released"
        type="text"
        formControlName="released"
        placeholder="YYYY"
      />
    </div>
  </div>
  <div class="flex gap-4">
    <div class="w-full">
      <label
        class="mb-2 block text-xs font-bold uppercase tracking-wide text-gray-700"
        for="imageUrl"
        >Image URL
      </label>
      <input
        class="mb-3 block w-full appearance-none rounded border border-gray-200 bg-gray-200 py-3 px-4 leading-tight text-gray-700 focus:border-gray-500 focus:bg-white focus:outline-none"
        id="imageUrl"
        type="text"
        formControlName="imageUrl"
      />
    </div>
  </div>
  <div class="mb-12 flex gap-4">
    <div>
      <img *ngIf="imagePreview" [src]="imagePreview" alt="" />
    </div>
  </div>

  <div formArrayName="personnel">
    <h2 class="my-4 text-xl font-bold">Personnel</h2>

    <div class="mb-4" *ngFor="let _ of personnel.controls; index as i">
      <div [formGroupName]="i">
        <div class="flex gap-4">
          <div class="w-1/2">
            <label
              class="mb-2 block text-xs font-bold uppercase tracking-wide text-gray-700"
              for="name"
              >name
            </label>
            <input
              #personnelName
              class="mb-3 block w-full appearance-none rounded border border-gray-200 bg-gray-200 py-3 px-4 leading-tight text-gray-700 focus:border-gray-500 focus:bg-white focus:outline-none"
              formControlName="name"
            />
          </div>
          <div class="w-1/2">
            <label
              class="mb-2 block text-xs font-bold uppercase tracking-wide text-gray-700"
              for="instruments"
            >
              instruments
            </label>
            <input
              class="mb-3 block w-full appearance-none rounded border border-gray-200 bg-gray-200 py-3 px-4 leading-tight text-gray-700 focus:border-gray-500 focus:bg-white focus:outline-none"
              formControlName="instruments"
              placeholder="piano, trumpet"
            />
          </div>
        </div>
        <div class="flex gap-4">
          <div class="w-1/2">
            <label
              class="mb-2 block text-xs font-bold uppercase tracking-wide text-gray-700"
              for="appearsOn"
            >
              appears on
            </label>
            <input
              class="mb-3 block w-full appearance-none rounded border border-gray-200 bg-gray-200 py-3 px-4 leading-tight text-gray-700 focus:border-gray-500 focus:bg-white focus:outline-none"
              formControlName="appearsOn"
              placeholder="A1, B3"
            />
          </div>
          <div class="w-1/4">
            <label
              class="block text-xs font-bold uppercase tracking-wide text-gray-700"
              for="leader"
              >Leader?
            </label>
            <input
              class="my-2 rounded"
              formControlName="leader"
              type="checkbox"
            />
          </div>
          <button *ngIf="release" type="button" (click)="deletePersonnel(i)">
            Delete
          </button>
        </div>
      </div>
    </div>
    <div class="my-2 flex flex-row-reverse">
      <button
        class="flex-shrink-0 rounded border-4 border-transparent py-1 px-2 text-lg text-blue-500 hover:text-blue-800"
        type="button"
        (click)="addPersonnel()"
      >
        Add Personnel
      </button>
    </div>
  </div>

  <div formArrayName="tracks">
    <h2 class="my-4 text-xl font-bold">Tracks</h2>

    <div class="mb-4" *ngFor="let _ of tracks.controls; index as i">
      <div [formGroupName]="i">
        <div class="flex gap-4">
          <div class="w-1/2">
            <label
              class="mb-2 block text-xs font-bold uppercase tracking-wide text-gray-700"
              for="title"
              >title
            </label>
            <input
              #trackTitle
              class="mb-3 block w-full appearance-none rounded border border-gray-200 bg-gray-200 py-3 px-4 leading-tight text-gray-700 focus:border-gray-500 focus:bg-white focus:outline-none"
              formControlName="title"
            />
          </div>
          <div class="w-1/2">
            <label
              class="mb-2 block text-xs font-bold uppercase tracking-wide text-gray-700"
              for="composedBy"
            >
              composers
            </label>
            <input
              class="mb-3 block w-full appearance-none rounded border border-gray-200 bg-gray-200 py-3 px-4 leading-tight text-gray-700 focus:border-gray-500 focus:bg-white focus:outline-none"
              formControlName="composedBy"
              placeholder="Horace Silver, Sonny Rollins"
            />
          </div>
        </div>
        <div class="flex gap-4">
          <div class="w-1/2">
            <label
              class="mb-2 block text-xs font-bold uppercase tracking-wide text-gray-700"
              for="length"
              >length
            </label>
            <input
              class="mb-3 block w-full appearance-none rounded border border-gray-200 bg-gray-200 py-3 px-4 leading-tight text-gray-700 focus:border-gray-500 focus:bg-white focus:outline-none"
              formControlName="length"
              placeholder="4:45"
            />
          </div>
          <div class="w-1/2">
            <label
              class="mb-2 block text-xs font-bold uppercase tracking-wide text-gray-700"
              for="number"
              >track number
            </label>
            <input
              class="mb-3 block w-full appearance-none rounded border border-gray-200 bg-gray-200 py-3 px-4 leading-tight text-gray-700 focus:border-gray-500 focus:bg-white focus:outline-none"
              formControlName="number"
              placeholder="A1"
            />
          </div>
        </div>
        <div class="flex flex-row-reverse gap-4">
          <button *ngIf="release" type="button" (click)="deleteTrack(i)">
            Delete
          </button>
        </div>
      </div>
    </div>
    <div class="my-2 flex flex-row-reverse">
      <button
        class="flex-shrink-0 rounded border-4 border-transparent py-1 px-2 text-lg text-blue-500 hover:text-blue-800"
        type="button"
        (click)="addTrack()"
      >
        Add Track
      </button>
    </div>
  </div>

  <button class="bg-bn-blue rounded py-2 px-4 text-white" type="submit">
    Save Release
  </button>
</form>
