<div *ngIf="release" class="my-12">
  <div class="flex w-full flex-col gap-8 md:flex-row">
    <div class="flex w-full flex-col md:w-1/4">
      <img [src]="release.imageUrl" [alt]="release.title" />
      <div class="my-4 tracking-wide text-gray-700">
        <div class="grid grid-cols-2 gap-x-4">
          <div class="font-bold uppercase">Label</div>
          <div>
            <a
              class="font-medium text-blue-600 dark:text-blue-500 hover:underline"
              [routerLink]="'/label/' + release.label.id"
            >
              {{ release.label.name }}
            </a>
          </div>
          <div *ngIf="release?.catalogueNumber" class="font-bold uppercase">
            Cat. No.
          </div>
          <div *ngIf="release?.catalogueNumber">
            {{ release.catalogueNumber }}
          </div>
          <div *ngIf="release?.released" class="font-bold uppercase">
            Released
          </div>
          <div *ngIf="release?.released">{{ release.released }}</div>
          <!-- PRODUCER -->
          <div *ngIf="release?.producer?.name" class="font-bold uppercase">
            Producer
          </div>
          <div *ngIf="release?.producer?.name">{{ release.producer.name }}</div>
          <!-- ENGINEER -->
          <!-- DESIGNER -->
          <div *ngIf="release?.designer?.name" class="font-bold uppercase">
            Designer
          </div>
          <div *ngIf="release?.designer?.name">{{ release.designer.name }}</div>
          <!-- PHOTOGRAPHER -->
          <div *ngIf="release?.photographer?.name" class="font-bold uppercase">
            Photographer
          </div>
          <div *ngIf="release?.photographer?.name">
            {{ release.photographer.name }}
          </div>
        </div>
      </div>
      <div class="my-12">
        <button
          class="bg-bn-blue hidden rounded py-2 px-4 text-white md:block"
          (click)="onEdit()"
        >
          Edit
        </button>
      </div>
    </div>
    <div class="3/4">
      <div class="flex items-center justify-between">
        <h1 class="text-4xl font-bold text-gray-700">
          <a
            class="text-blue-600 dark:text-blue-500 hover:underline"
            [routerLink]="'/artist/' + release.artist.id"
            >{{ release.artist.name }}</a
          >
          - {{ release.title }}
        </h1>
      </div>

      <ul class="flex flex-wrap border-b border-gray-200 my-8">
        <li class="mr-2">
          <a
            [class.active]="selectedTab === 'details'"
            (click)="selectedTab = 'details'"
            aria-current="page"
            class="tab inline-block text-gray-500 rounded-t-lg py-4 px-4 text-sm font-medium text-center"
            >Details</a
          >
        </li>
        <li class="mr-2">
          <a
            [class.active]="selectedTab === 'sessions'"
            (click)="selectedTab = 'sessions'"
            class="tab inline-block text-gray-500 hover:text-gray-600 hover:bg-gray-50 rounded-t-lg py-4 px-4 text-sm font-medium text-center"
            >Sessions</a
          >
        </li>
      </ul>

      <div class="content" [ngSwitch]="selectedTab">
        <div *ngSwitchCase="'details'">
          <div id="details" *ngIf="tracks?.length">
            <h2 class="text-1xl my-2 font-bold uppercase">Tracks</h2>
            <table class="min-w-full overflow-x-auto border-2 border-slate-200">
              <thead class="bg-slate-100">
                <tr>
                  <th
                    class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase"
                  >
                    Track #
                  </th>
                  <th
                    class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase"
                  >
                    Title
                  </th>
                  <th
                    class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase"
                  >
                    Composer(s)
                  </th>
                  <th
                    class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase"
                  >
                    Length
                  </th>
                  <th
                    class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase"
                  >
                    Session
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let track of tracks">
                  <td
                    class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-800"
                  >
                    {{ track.number }}
                  </td>
                  <td
                    class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-800"
                  >
                    {{ track.title }}
                  </td>
                  <td
                    class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-800"
                  >
                    {{ track.composedBy }}
                  </td>
                  <td
                    class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-800"
                  >
                    {{ track.length }}
                  </td>
                  <td
                    class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-800"
                  >
                    {{ track.session | date : "shortDate" }}
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="my-8" *ngIf="personnel?.length">
            <h2 class="text-1xl my-2 font-bold uppercase">Personnel</h2>
            <table class="min-w-full overflow-x-auto border-2 border-slate-200">
              <thead class="bg-slate-100">
                <tr>
                  <th
                    class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase"
                  >
                    Name
                  </th>
                  <th
                    class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase"
                  >
                    Instruments
                  </th>
                  <th
                    class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase"
                  >
                    Appears On
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let person of personnel">
                  <td class="px-6 py-4 whitespace-nowrap">
                    <a
                      [routerLink]="'/artist/' + person.artist.id"
                      class="font-medium text-blue-600 dark:text-blue-500 hover:underline"
                      >{{ person.artist.name }}</a
                    >
                  </td>
                  <td
                    class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-800"
                  >
                    {{ person.instruments }}
                  </td>
                  <td
                    class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-800"
                  >
                    {{ person.appearsOn.join(", ") }}
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div *ngSwitchCase="'sessions'">
          <div id="sessions" class="my-4 tracking-wide text-gray-700">
            <div *ngFor="let session of release?.sessions; index as i">
              <details class="border-b-2 border-slate-200 open:pb-6" open>
                <summary class="flex items-center font-semibold my-4">
                  <span class="text-lg text-slate-500"
                    >Session {{ i + 1 }}</span
                  >
                  <button class="ml-auto">
                    <svg
                      class="fill-current opacity-75 w-4 h-4 -mr-1"
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 20 20"
                    >
                      <path
                        d="M12.95 10.707l.707-.707L8 4.343 6.586 5.757 10.828 10l-4.242 4.243L8 15.657l4.95-4.95z"
                      />
                    </svg>
                  </button>
                </summary>
                <div class="grid grid-cols-2 gap-x-4">
                  <span class="font-bold uppercase">Studio</span>
                  <span
                    >{{ session.studio.name }},
                    {{ session.studio.location }}</span
                  >
                  <span class="font-bold uppercase">Date</span>
                  <span>{{ session.date | date : "shortDate" }}</span>

                  <span
                    *ngIf="session?.engineer?.name"
                    class="font-bold uppercase"
                    >Engineer</span
                  >
                  <span *ngIf="session?.engineer">{{
                    session.engineer.name
                  }}</span>
                </div>
                <div class="my-8" *ngIf="session?.tracks?.length">
                  <h2 class="text-1xl my-2 font-bold uppercase">Tracks</h2>
                  <div
                    class="relative overflow-x-auto border-2 border-slate-200"
                  >
                    <table class="min-w-full">
                      <thead class="bg-slate-100">
                        <tr>
                          <th
                            class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase"
                          >
                            Track #
                          </th>
                          <th
                            class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase"
                          >
                            Title
                          </th>
                          <th
                            class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase"
                          >
                            Composers
                          </th>
                          <th
                            class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase"
                          >
                            Length
                          </th>
                        </tr>
                      </thead>
                      <tbody>
                        <ng-container *ngFor="let track of session?.tracks">
                          <tr>
                            <td
                              class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-800"
                            >
                              {{ track.number }}
                            </td>
                            <td
                              class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-800"
                            >
                              {{ track.title }}
                            </td>
                            <td
                              class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-800"
                            >
                              {{ track.composedBy }}
                            </td>
                            <td
                              class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-800"
                            >
                              {{ track.length }}
                            </td>
                          </tr>
                        </ng-container>
                      </tbody>
                    </table>
                  </div>
                </div>
                <div class="my-8" *ngIf="session?.personnel?.length">
                  <h2 class="text-1xl my-2 font-bold uppercase">Personnel</h2>
                  <div
                    class="relative overflow-x-auto border-2 border-slate-200"
                  >
                    <table class="min-w-full">
                      <thead class="bg-slate-100">
                        <tr>
                          <th
                            class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase"
                          >
                            Name
                          </th>
                          <th
                            class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase"
                          >
                            Instruments
                          </th>
                          <th
                            class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase"
                          >
                            Appears On
                          </th>
                        </tr>
                      </thead>
                      <tbody>
                        <ng-container
                          *ngFor="let musician of session?.personnel"
                        >
                          <tr>
                            <td
                              class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-800"
                            >
                              <a
                                [routerLink]="'/artist/' + musician.artist.id"
                                class="font-medium text-blue-600 dark:text-blue-500 hover:underline"
                              >
                                {{ musician.artist.name }}
                              </a>
                            </td>
                            <td
                              class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-800"
                            >
                              {{ musician.instruments }}
                            </td>
                            <td
                              class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-800"
                            >
                              {{ musician.appearsOn }}
                            </td>
                          </tr>
                        </ng-container>
                      </tbody>
                    </table>
                  </div>
                </div>
              </details>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
